extends layouts/login

block Content
    .row.homerow
        .col.s7.push-s5.homerow
            img.homeimg(src="/static/gallery/home.jpg")
        .col.s5.pull-s7.homerow
                h4.tagline2.homespan Preparing For Tech Interviews?
                a.btn.blue.waves-effect.waves-light.btn(href="/all_articles") 
                    | Get Started
