extends ../layouts/main
        
block Content
    .container.formgroup
        h4 Edit Article
        .row
            form.col.s12(action=`/articles/${article._id}` method='POST')
                input(type='hidden' name='_method' value='PUT')
                .row
                    .input-field.col.s12
                        input#title(type='text' name='title' value=article.title)
                        label(for='title') Title
                .row
                    .input-field.col.s12
                        input#author(type='text' name='author' value=article.author)
                        label(for='author') Author Name
                .row
                    .input-field.col.s12
                        textarea#textarea1.materialize-textarea(name='body')=article.body
                        label(for='textarea1') Body
                
                button.btn.waves-effect.waves-light(type='submit' name='action')
                    | Save
                    i.fas.fa-paper-plane.right
                | 
                a.btn.orange(href="/dashboard")
                    | Cancel
                    i.fas.fa-times.right
